<div class="calculator-container">
  <form [formGroup]="calculatorForm()">
    <div class="inputs-container">
      <app-input
        type="number"
        placeholder="Initial Investment"
        formControlName="initialInvestment"
      />
      <app-input type="number" placeholder="Annual Investment" formControlName="annualInvestment" />
      <app-input type="number" placeholder="Expected return" formControlName="expectedReturn" />
      <app-input type="number" placeholder="Duration" formControlName="duration" />
    </div>

    <app-button
      label="Calculate"
      type="submit"
      (clicked)="handleClick()"
      [disabled]="calculatorForm().invalid"
    />
  </form>
</div>
