<h1 class="center">Investment Calculator</h1>
<div class="calculator-container">
  <div class="inputs-container">
    <app-input type="text" placeholder="Initial Investment" (changed)="handleInput()"></app-input>
    <app-input type="text" placeholder="Annual Investment" (changed)="handleInput()"></app-input>
    <app-input type="text" placeholder="Expected return" (changed)="handleInput()"></app-input>
    <app-input type="text" placeholder="Duration" (changed)="handleInput()"></app-input>
  </div>
  <app-button (clicked)="handleClick()" label="Calculate"></app-button>
  <p class="center">Please enter some values and click calculate</p>
</div>
